body{
  background-image: url(./IMG/Homero.jpg);
  background-size: 80rem;
  
}

.div{
  display: flex;
  justify-content: center;
  align-items: end;
  height: 90vh;
 
}
.div2{
  display: flex;
  justify-content: right;
  

}
.botonGenerar{
  margin-bottom: 10px;
  width: 100px;
}

.cssQuote{
  color: white;
  text-align: center;
}

.divPersonaje{

}

.cssimg{
  width: 200px;
  height: 200px;
  align-items: center;
}