body {
  background-size: 100%;
  background-image: url("./IMG/homero.png");
  opacity: 100;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px black;
}

.fondo {
  opacity: 0.5;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10px;
}

.bt {
  width: 100px;
}

.cuadro{
    border: rgb(251, 255, 7) 5px solid;
    margin-top: 2%;
}

.imgboton{
  height: 90px;
  border:rgb(255, 255, 255) solid;
  box-shadow: rgb(255, 255, 255) 5px 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 2rem;
}


.contcss{
  max-width: 60%;
  max-height: 445.67%;
}

.personajecss{
  color: yellow;
  -webkit-text-stroke: 1px black;
}