body {
  background-size: 100%;
  background-image: url("./IMG/homero.png");
  opacity: 100;
}

.fondo {
  opacity: 0.5;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10px;
}

.bt {
  width: 100px;
}

.cuadro{
    border: black 5px solid;
    margin-top: 2%;
}

